name: Haskell CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name : Cache GHC
      uses: actions/cache@v3
      env:
        cache-name: cache-ghc
      with:
        path: /usr/local/.ghcup
        key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/*.cabal') }}
        restore-keys: |
          ${{ runner.os }}-build-${{ env.cache-name }}-
          ${{ runner.os }}-build-
          ${{ runner.os }}-

    - name: Setup Haskell
      uses: haskell-actions/setup@v2
      with:
        ghc-version: '9.8.4'
        cabal-version: '3.14'

    - name: Setup Z3
      id: z3
      uses: cda-tum/setup-z3@v1

    - name: Cache Cabal packages
      uses: actions/cache@v3
      env:
        cache-name: cache-cabal
      with:
        path: ~/.cabal
        key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/*.cabal') }}
        restore-keys: |
          ${{ runner.os }}-build-${{ env.cache-name }}-
          ${{ runner.os }}-build-
          ${{ runner.os }}-

    - name: Install dependencies
      run: |
        cabal update
        cabal build --only-dependencies --enable-tests

    - name: Build
      run: cabal build --enable-tests --enable-benchmarks

    - name: Run tests
      run: cabal test --test-show-details=streaming
