name: Haskell CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest
    env:
      GHC_VERSION: '9.8.4'
      CABAL_VERSION: '3.14'

    steps:
    - name: Checkout
      uses: actions/checkout@v6

    - name : Cache GHCup
      uses: actions/cache@v4
      with:
        path: ~/.ghcup
        key: ${{ runner.os }}-ghcup-ghc-${{ env.GHC_VERSION }}-cabal-${{ env.CABAL_VERSION }}

    - name: Setup Haskell
      uses: haskell-actions/setup@v2
      env:
        GHCUP_INSTALL_BASE_PREFIX: $HOME
      with:
        ghc-version: ${{ env.GHC_VERSION }}
        cabal-version: ${{ env.CABAL_VERSION }}

    - name: Setup Z3
      id: z3
      uses: cda-tum/setup-z3@v1

    - name: Cache Cabal packages
      uses: actions/cache@v4
      env:
        cache-name: cache-cabal
      with:
        path: ~/.cabal
        key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/*.cabal') }}
        restore-keys: |
          ${{ runner.os }}-build-${{ env.cache-name }}-
          ${{ runner.os }}-build-
          ${{ runner.os }}-

    - name: Install dependencies
      run: |
        cabal update
        cabal build --only-dependencies --enable-tests

    - name: Build
      run: cabal build --enable-tests --enable-benchmarks

    - name: Run tests
      run: cabal test --test-show-details=streaming
